In [750]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import VotingClassifier, BaggingClassifier, RandomForestClassifier
from sklearn.metrics import accuracy_score

In [751]:
test = pd.read_csv("test.csv")
train = pd.read_csv("train.csv")
test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [752]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [753]:
train.drop(columns=["Cabin","Ticket","Name"], inplace=True)
test.drop(columns=["Cabin","Ticket","Name"], inplace=True)

In [754]:
train.shape

(891, 9)

In [755]:
test.shape

(418, 8)

In [756]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Sex          891 non-null    object
 4   Age          714 non-null    float64
 5   SibSp        891 non-null    int64
 6   Parch        891 non-null    int64
 7   Fare         891 non-null    float64
 8   Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(2)
memory usage: 62.8+ KB

In [757]:
train.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [758]:
train.duplicated().sum()

0

In [759]:
train.isnull().mean()*100

PassengerId     0.000000
Survived        0.000000
Pclass          0.000000
Sex             0.000000
Age            19.865320
SibSp           0.000000
Parch           0.000000
Fare            0.000000
Embarked        0.224467
dtype: float64

In [760]:
train['Age']=train['Age'].fillna(train['Age'].mean())
train['Embarked']=train['Embarked'].fillna(train['Embarked'].mode())
test['Age']=test['Age'].fillna(test['Age'].mean())
test['Embarked']=test['Embarked'].fillna(test['Embarked'].mode())
test['Fare']=test['Fare'].fillna(test['Fare'].median())

In [761]:
test.shape

(418, 8)

In [762]:
train.shape

(891, 9)

In [763]:
obj_train = train.dtypes == "object"
objects1 = list(obj_train[obj_train].index)
print(objects1)
le = LabelEncoder()

for i in objects1:
    train[i] = le.fit_transform(train[i])

['Sex', 'Embarked']

In [764]:
obj_test = test.dtypes == "object"
objects2 = list(obj_test[obj_test].index)
print(objects2)
le = LabelEncoder()

for i in objects2:
    test[i] = le.fit_transform(test[i])

['Sex', 'Embarked']

In [765]:
train.head()

   PassengerId  Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0            1         0       3    1  22.0      1      0   7.2500         2
1            2         1       1    0  38.0      1      0  71.2833         0
2            3         1       3    0  26.0      0      0   7.9250         2
3            4         1       1    0  35.0      1      0  53.1000         2
4            5         0       3    1  35.0      0      0   8.0500         2

In [766]:
test.shape

(418, 8)

In [767]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Sex          418 non-null    int32
 3   Age          418 non-null    float64
 4   SibSp        418 non-null    int64
 5   Parch        418 non-null    int64
 6   Fare         418 non-null    float64
 7   Embarked     418 non-null    int32
dtypes: float64(2), int32(2), int64(4)
memory usage: 23.0 KB

In [768]:
lor = LogisticRegression(max_iter=500, multi_class="multinomial")

In [769]:
dt = DecisionTreeClassifier(max_depth=10,criterion="gini")

In [770]:
bc = BaggingClassifier(n_estimators=200)

In [771]:
rfc = RandomForestClassifier(n_estimators=500,criterion="gini")

In [772]:
estimator = [("lor",lor), ("dt",dt), ("bc",bc), ("rf",rfc)]

vc = VotingClassifier(estimators=estimator, voting="soft")

In [793]:
x = train.drop(columns="Survived")
y = train["Survived"]

x_train, x_test, y_train, y_test = train_test_split(x, y,  test_size=0.2, random_state=6)

In [794]:
models = [("lor",lor), ("dt",dt), ("vc",vc), ("bc",bc), ("rf",rfc)]

for i in models:
    var = i[1]
    var.fit(x_train,y_train)
    pred = var.predict(x_test)
    print("accuracy_score ",i[0],": ",accuracy_score(y_test,pred)*100)

accuracy_score  lor :  85.47486033519553
accuracy_score  dt :  81.00558659217877
accuracy_score  vc :  86.59217877094973
accuracy_score  bc :  84.35754189944134
accuracy_score  rf :  84.91620111731844

In [798]:
test_pred = rfc.predict(test)
test_pred.shape

(418,)

In [799]:
submission = pd.DataFrame({"PassengerId": test["PassengerId"],"Survived": test_pred})
submission.to_csv('titanic_submission2.csv', index=False)